.app {
  padding: 75px 0;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0; 
  left: 0;
  right: 0;
}

.clicakble {
  cursor: pointer;
}

.post-list-title {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 15px;
}

.card-img-top {
  max-height: 150px;
  width: auto
  ;object-fit: cover;
}

.post__img {
  width: 100%;
  margin-bottom: 15px;
}

.post__img img {
  max-width: 100%;
  max-height: 300px;
  width: auto;
}